<%= link_to 'home', gists_path %>
<h1><%= @gist.title %></h1>

<div class="buttons <%='favorited' if @has %>">
  <%= button_to "fav", gist_favorite_path(@gist.id), :remote => true, :form_class => "favform" %>
  <%= button_to "un-fav", gist_favorite_path(@gist.id), :method => "delete", :remote => true, :form_class => "unfavform" %>
</div>


<script type="text/javascript">
  $(function () {

    $('.favform').bind('ajax:success', function(){
      $(this).closest(".buttons").addClass("favorited");
    });


    $('.unfavform').bind('ajax:success', function(){
      $(this).closest(".buttons").removeClass("favorited");
    })
  });


</script>